<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-file-text-o"></i> About
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div>
                        <img style="float: left; width: 220px" src=@Url.Content("~/Images/sensei.png")>
                        <h4>    Our website utilises data provided by <a href="http://www.icb.bg" class=" = green">ICB Bulgaria</a> through their Web API service.</h4>
                        <h4>
                            More then ten sensors are currenly supported as each of them gets new values after its
                            polling interval has passed.
                        </h4>
                        <h4>    The different types of sensors measure:</h4>
                        <h4>- Temperature (°C)</h4>
                        <h4>- Humidity sensor (%)</h4>
                        <h4>- Electric power consumption (Watts)</h4>
                        <h4>- Occupancy sensor (T/F)</h4>
                        <h4>- Window /door sensor (T/F)</h4>
                        <h4>- Noise sensor (Decibels)</h4>
                        <!--<h4>Our sensors history charts will help you get the most meaningful information out of the data behind.</h4>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>