@{
    Layout = null;
}
<head>
    <!-- CSS -->
    @Styles.Render("~/Theme/bundle/css")
</head>

<body>
<div class="text-center text-center">
    <h1 class="error-number">404</h1>
    <h2>Sorry but we couldn't find this page</h2>
    <p>
        The page you are looking for does not exist. <a href=@Url.Action("Index", "Home")>Take me home!</a>
    </p>

</div>
</body>